* {
  margin: 0;
}

.landing {
  background: #f2f2f2;
  overflow: hidden;
  margin-bottom: -150px;
  position: relative;
  width: 100vw;
  height: 100vh;
  color: black;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: circle(180vh at 50% center);
}

.slideshow {
  width: 100px;
}
