.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  max-width: 50%;
  justify-content: flex-end;
  object-fit: contain;
}

@media (max-width: 900px) {
  .product {
    max-width: 200px;
  }
}

