<<<<<<< HEAD
=======
.details {
    width: 90%;
}

>>>>>>> fdf8bbe1091802ecf79059d088ed047c7c6f0f5f
.jumbotron {
  max-width: 90%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.jumbotron .details {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.product {
  max-width: 500px;
}

@media (max-width: 900px) {
  .product {
    max-width: 200px;
  }
}

